<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" title="Você pode sair do aplicativo por aqui!">
  <%= link_to destroy_user_session_path, class: 'btn-floating btn-large red' do %>
    <i class="large mdi-action-exit-to-app"></i>
  <% end -%>
</div>

<iframe src="#" id="conf-iframe" class="full-page" frameborder="0"></iframe>
